<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ssi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot.Wpf" publicKeyToken="75e952ba404cdbb0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2012.3.118.1" newVersion="2012.3.118.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot" publicKeyToken="638079a8f0bd61e9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2012.3.118.1" newVersion="2012.3.118.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>


  <userSettings>
    <ssi.Properties.Settings>
      <setting name="MongoDBUser" serializeAs="String">
        <value>login</value>
      </setting>
      <setting name="MongoDBPass" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="DataServer" serializeAs="String">
        <value>sftp.server.yeah</value>
      </setting>
      <setting name="DataServerFolder" serializeAs="String">
        <value>/path/to/your/files/</value>
      </setting>
      <setting name="DataServerLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerPass" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerConnectionType" serializeAs="String">
        <value>sftp</value>
      </setting>
      <setting name="LastSessionId" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseAddress" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseAutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UncertaintyLevel" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="Annotator" serializeAs="String">
        <value>Annotator</value>
      </setting>
      <setting name="DefaultZoomInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultMinSegmentSize" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="DefaultDiscreteSampleRate" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DatabaseShowOnlyMine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseShowOnlyFinished" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLContext" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CMLDefaultAnnotator" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultScheme" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultRole" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLSetConf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLRemove" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CMLFill" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckUpdateOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CMLDefaultStream" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultConf" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CMLDefaultGap" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="CMLDefaultMinDur" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="DatabaseAskBeforeOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdateCheckDate" serializeAs="String">
        <value>1979-01-01</value>
      </setting>
      <setting name="ContinuousHotkeysNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LiveModeActivateMouse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertToDiscreteClasses" serializeAs="String">
        <value>LOW;MEDIUM;HIGH</value>
      </setting>
      <setting name="ConvertToDiscreteThreshs" serializeAs="String">
        <value>0.33;0.66;1.0</value>
      </setting>
      <setting name="ConvertToDiscreteDelays" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="CMLDefaultTrainer" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="CMLTrainexeGitSha" serializeAs="String">
        <value>00000000000000</value>
      </setting>
      <setting name="DBHideMissingStreams" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLDefaultChain" serializeAs="String">
        <value />
      </setting>
      <setting name="CMLDefaultAnnotatorPrediction" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingCMLDefaultBN" serializeAs="String">
        <value />
      </setting>
      <setting name="DrawVideoWavform" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="explainModelPath" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="serverhistory" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="forcepythonupdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnablePython" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLTempTrainerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnablePythonDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLTempTrainerName" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="EnableLightning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPolygonPointDistance" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MediaBackend" serializeAs="String">
        <value>Hardware</value>
      </setting>
      <setting name="ShowExportDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoggedInWithLightning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTwordlevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NovaServerHistory" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="NovaServerAddress" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="NovaAssistantAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="NovaAssistantHistory" serializeAs="String">
        <value>localhost:1337</value>
      </setting>
      <setting name="NovaAssistantTemperature" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="NovaAssistantSystemPrompt" serializeAs="String">
        <value>Your name is Nova Assistant. You are an AI assistant.</value>
      </setting>
      <setting name="NovaAssistantMaxtokens" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="NovaAssistantTopK" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="NovaAssistantTopP" serializeAs="String">
        <value>0.95</value>
      </setting>
      <setting name="NovaAssistantDataDescription" serializeAs="String">
        <value>The data you are supposed to analyse is provided to you in semi colon seperated tuple form, where each entry contains the identity of the speaker at position 0 and the transcript of a speaker at position 1</value>
      </setting>
      <setting name="NovaAssistantModel" serializeAs="String">
        <value>hcai:llama7b</value>
      </setting>
      <setting name="NovaAssistantEnforceDeterminism" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NostrDVM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NovaAssistantNum_ctx" serializeAs="String">
        <value>2028</value>
      </setting>
      <setting name="UseTLS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SignedCertificatesOnly" serializeAs="String">
        <value>False</value>
      </setting>
    </ssi.Properties.Settings>
  </userSettings>
</configuration>
