<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ssi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>


  <userSettings>
    <ssi.Properties.Settings>
      <setting name="MongoDBUser" serializeAs="String">
        <value>login</value>
      </setting>
      <setting name="MongoDBPass" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="DataServer" serializeAs="String">
        <value>sftp.server.yeah</value>
      </setting>
      <setting name="DataServerFolder" serializeAs="String">
        <value>/path/to/your/files/</value>
      </setting>
      <setting name="DataServerLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerPass" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerConnectionType" serializeAs="String">
        <value>sftp</value>
      </setting>
      <setting name="LastSessionId" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseAddress" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseAutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UncertaintyLevel" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="Annotator" serializeAs="String">
        <value>Annotator</value>
      </setting>
      <setting name="DefaultZoomInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultMinSegmentSize" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="DefaultDiscreteSampleRate" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DatabaseShowOnlyMine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseShowOnlyFinished" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLContext" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CMLDefaultAnnotator" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultScheme" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultRole" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLSetConf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLRemove" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CMLFill" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckUpdateOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CMLDefaultStream" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDefaultConf" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CMLDefaultGap" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="CMLDefaultMinDur" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="DatabaseAskBeforeOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdateCheckDate" serializeAs="String">
        <value>1979-01-01</value>
      </setting>
      <setting name="ContinuousHotkeysNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LiveModeActivateMouse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertToDiscreteClasses" serializeAs="String">
        <value>LOW;MEDIUM;HIGH</value>
      </setting>
      <setting name="ConvertToDiscreteThreshs" serializeAs="String">
        <value>0.33;0.66;1.0</value>
      </setting>
      <setting name="ConvertToDiscreteDelays" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="CMLDefaultTrainer" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="CMLDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="CMLTrainexeGitSha" serializeAs="String">
        <value>00000000000000</value>
      </setting>
      <setting name="DBHideMissingStreams" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMLDefaultChain" serializeAs="String">
        <value />
      </setting>
      <setting name="CMLDefaultAnnotatorPrediction" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingCMLDefaultBN" serializeAs="String">
        <value />
      </setting>
      <setting name="DrawVideoWavform" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="explainModelPath" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="serverhistory" serializeAs="String">
        <value>localhost:27017</value>
      </setting>
      <setting name="forcepythonupdate" serializeAs="String">
        <value>False</value>
      </setting>
    </ssi.Properties.Settings>
  </userSettings>
</configuration>
