<?xml version="1.0" encoding="UTF-8" ?>
<Configs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Config>
		<SourcePath>data</SourcePath>
		<TargetPath>annos</TargetPath>
		<UserID>User1</UserID>
		<Classes>LIKE;DISLIKE;NEUTRAL</Classes>
		<Random>False</Random>
		<Move>False</Move>
		
	</Config>
</Configs>