.grey .accordion{font: bold 14px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}
.grey .accordion a {padding: 10px 10px 10px 50px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {background: #D7D4D4 url(images/bg_grey.png) repeat-x 0 -1px;}
.grey .accordion a.dcjq-parent.active {}
.grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(images/arrow_grey_right.png) no-repeat 0 center;}
.grey .accordion a.dcjq-parent.active .dcjq-icon {background: url(images/arrow_grey_down.png) no-repeat 0 center;}
.grey .accordion a:hover {background: #fff; color: #990000;}
.grey .accordion a:active{}