<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ssi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ssi.Properties.Settings>
      <setting name="MongoDBUser" serializeAs="String">
        <value>MongoDBUser</value>
      </setting>
      <setting name="MongoDBPass" serializeAs="String">
        <value>MongoDBPass</value>
      </setting>
      <setting name="DataServer" serializeAs="String">
        <value>sftp.server.yeah</value>
      </setting>
      <setting name="DataServerFolder" serializeAs="String">
        <value>/path/to/your/files/</value>
      </setting>
      <setting name="DataServerLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerPass" serializeAs="String">
        <value />
      </setting>
      <setting name="DataServerConnectionType" serializeAs="String">
        <value>sftp</value>
      </setting>
      <setting name="Filenames" serializeAs="String">
        <value>file1.mp4;file2.stream;file2.stream~</value>
      </setting>
      <setting name="LastSessionId" serializeAs="String">
        <value>SessionID</value>
      </setting>
      <setting name="MongoDBIP" serializeAs="String">
        <value>127.0.0.1:27017</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>database</value>
      </setting>
      <setting name="DataPath" serializeAs="String">
        <value>C:\Data</value>
      </setting>
      <setting name="Autologin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UncertaintyLevel" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="Annotator" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="DefaultZoominSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultMinSegmentSize" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="DefaultDiscreteSampleRate" serializeAs="String">
        <value>25</value>
      </setting>
    </ssi.Properties.Settings>
  </userSettings>
</configuration>